.service-list-w64 {
	background-image: url('../../assets/images/vector/services/list-w64.svg');
}

.service-nails-w64 {
	background-image: url('../../assets/images/vector/services/nails-w64.svg');
}

.service-visage-w64 {
	background-image: url('../../assets/images/vector/services/visage-w64.svg');
}

.service-massage-w64 {
	background-image: url('../../assets/images/vector/services/massage-w64.svg');
}

.service-eyelashes-w64 {
	background-image: url('../../assets/images/vector/services/eyelashes-w64.svg');
}

.service-hair-w64 {
	background-image: url('../../assets/images/vector/services/hair-w64.svg');
}
