.service-all-w32 {
	background-image: url('../../assets/vector/services/all-w32.svg');
}

.service-manicure-w32 {
	background-image: url('../../assets/vector/services/manicure-w32.svg');
}

.service-brows-w32 {
	background-image: url('../../assets/vector/services/brows-w32.svg');
}

.service-pedicure-w32 {
	background-image: url('../../assets/vector/services/pedicure-w32.svg');
}

.service-styling-w32 {
	background-image: url('../../assets/vector/services/styling-w32.svg');
}

.service-makeup-w32 {
	background-image: url('../../assets/vector/services/makeup-w32.svg');
}

.service-massage-w32 {
	background-image: url('../../assets/vector/services/massage-w32.svg');
}
