/* inter-latin-wght-normal */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format('woff2-variations');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/inter/files/inter-latin-ext-wght-normal.woff2) format('woff2-variations');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/inter/files/inter-cyrillic-wght-normal.woff2) format('woff2-variations');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/inter/files/inter-cyrillic-ext-wght-normal.woff2) format('woff2-variations');
}

@font-face {
	font-family: 'Grompled';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url('../assets/fonts/grompled.woff2') format('woff2-variations');
	unicode-range: U+0000-00FF, U+0400-04FF, U+0500-052F, U+0100-017F;
}
