@import 'tailwindcss';
@import './modules/lazy-bg.css';
@import './modules/services-icon.css';
@plugin "@tailwindcss/typography";

@theme {
	--color-golden-200: #ffce6b;

	--color-black-100: #eceff2;
	--color-black-200: #d5dbe2;
	--color-black-300: #b0bbc9;
	--color-black-500: #667a91;
	--color-black-600: #516278;
	--color-black-700: #4a596d;
	--color-black-900: #333c47;

	--color-white: #fefefe;

	--color-cove-50: #f3f7fb;
	--color-cove-600: #5b76b5;
	--color-cove-700: #5065a5;

	--color-shell-50: #faf7f6;
	--color-shell-300: #debdb4;

	--font-sans: var(--font-inter);
	--font-heading: 'Gropled', serif;
}

@utility container {
	margin-inline: auto;
	padding-inline: 20px;

	@variant sm {
		padding-inline: 1rem;
	}
}

button:has(+ select[aria-invalid]),
input[aria-invalid],
textarea[aria-invalid] {
	@apply border-red-500;
}

.custom-list {
	li {
		@apply relative;
		@apply flex items-start gap-3;

		&::before {
			@apply content-[''];
			@apply w-4 inline-flex;
			@apply bg-black-900;
			@apply transition-[background-color] duration-200;
			@apply h-[1lh];

			mask-image: url('../assets/images/vector/star-marker-w16.svg');
			mask-size: contain;
			mask-position: center;
			mask-repeat: no-repeat;
		}

		&:hover {
			&::before {
				animation: rotate 300ms ease-in-out forwards;
			}

			a {
				@apply text-cove-600;
			}
		}

		&:hover::before {
			@apply bg-cove-600;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

button[aria-pressed='true'] {
	@apply bg-golden-200 text-black-900 pointer-events-none;
}

/* Hero Slider */
.embla[data-slider='hero-slider'] {
	max-width: 48rem;
	margin: auto;
	--slide-height: 19rem;
	--slide-spacing: 1rem;
	--slide-size: 80%;

	.embla__viewport {
		overflow: hidden;
	}
	.embla__container {
		display: flex;
		touch-action: pan-y pinch-zoom;
		margin-left: calc(var(--slide-spacing) * -1);
	}
	.embla__slide {
		transform: translate3d(0, 0, 0);
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
	}
	.embla__slide__number {
		border: 1px solid black;
		border-radius: 1.8rem;
		font-size: 4rem;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--slide-height);
		user-select: none;
	}
}

/* About Us Slider */
.embla[data-slider='about-us-slider'] {
	--slide-height: 50rem;
	--slide-spacing: 1rem;
	--slide-size: 90%;

	@apply rounded-4xl overflow-hidden;

	.embla__viewport {
		@apply h-full;
		overflow: hidden;
	}

	.embla__container {
		display: flex;
		touch-action: pan-x pinch-zoom;
		margin-top: calc(var(--slide-spacing) * -1);
		height: calc(var(--slide-spacing) + var(--slide-height));
		flex-direction: column;
	}

	.embla__slide {
		@apply rounded-4xl;
		display: grid;
		place-items: center;
		transform: translate3d(0, 0, 0);
		flex: 0 0 var(--slide-size);
		min-height: 0;
		padding-top: var(--slide-spacing);
		height: 100%;
		overflow: hidden;
	}
}
