@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@import './lazy-bg.css';
@import './lazy/services-icon.css';

@theme {
	--color-golden-200: #ffce6b;

	--color-black-100: #eceff2;
	--color-black-200: #d5dbe2;
	--color-black-300: #b0bbc9;
	--color-black-500: #667a91;
	--color-black-600: #516278;
	--color-black-900: #333c47;

	--color-white: #fefefe;

	--color-cove-50: #f3f7fb;
	--color-cove-600: #5b76b5;
	--color-cove-700: #5065a5;

	--color-shell-50: #faf7f6;
	--color-shell-300: #debdb4;

	--font-sans: 'Inter', sans-serif;
	--font-heading: 'Gropled', serif;
}

@utility container {
	margin-inline: auto;
	padding-inline: 20px;

	@variant sm {
		padding-inline: 1rem;
	}
}

input[aria-invalid],
textarea[aria-invalid] {
	@apply border-red-500;
}

.custom-list {
	li {
		@apply relative;
		@apply flex items-center gap-3;

		&::before {
			@apply content-[''];
			@apply size-4 inline-flex;
			@apply mask-[contain] mask-[center] mask-[no-repeat];
			@apply bg-black-900;
			@apply transition-[background-color] duration-200;

			mask-image: url('../assets/vector/star-marker-w16.svg');
		}

		&:hover a {
			@apply text-cove-600;
		}

		&:hover::before {
			@apply bg-cove-600;
		}
	}
}
